#root {
  height: 100%;
  width: 100%;
}

:root {
  --primary-color: #00171f;
  --secondary-color: #00a7e1;
  --tertiary-color: #860000,
}


body {
  background: url('../public/images/lights-background.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: auto;
}

* {
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  margin: 0px;

}

form {

  width: 100%;

}

.title-image {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.nav-dropdown {
  position: fixed;
  top: 25px;
  right: 10px;
  z-index: 1000;
}

.dropdown-menu {
  border: #860000;
  border-width: 3px;
}

.home-container {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 50px;
}

.home-image {
  width: 200px;
  height: auto;
}

.home-image-container {


  display: flex;
  justify-content: center;
  align-items: center;
}

.home-card {
  display: inline-flexbox;
  align-items: center;
  min-height: 150px;
  text-align: center;
  justify-content: center;
  align-content: center;
  margin: 45px;
  background-color: #860000;
  color: white;
  border-radius: 15px;
  border-style: double;
  border-color: antiquewhite;
  padding: 20px;
}

.home-card a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.home-card a:hover {
  color: var(--primary-color);
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.home-box {
  display: flex;
  padding: 15px;
  margin-top: 25px;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 30%;
}

.nav-active {
  color: white;
  border: solid;
  border-color: forestgreen;
  border-width: 2px;
  border-radius: 7px;
}

.nav-inactive {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

.nav-inactive a {
  color: red;
}

.nav-active a {
  color: forestgreen;
  border-bottom: 3px;
}

.form-field {
  max-width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;


}

.center-form {
  display: flex;
  align-items: center;
  margin: 25px;
  justify-content: center;
}

.center-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}


.login-form {
  display: flex;
  align-items: center;
  justify-content: center;

}

.footer-custom {
  display: flex;
  position: fixed;
  padding: 10px 10px 0px 10px;
  background-color: #860000;
  bottom: 0;
  color: white;
  width: 100%;
  /* Height of the footer*/
  height: 40px;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-color: antiquewhite;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
}

.footer-text {
  font-size: 1.2em;
  font-weight: bold;

}

.github-link {
  color: white;
}

.profile-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: white; */
  height: min-content;

}

.profilePageUser {
  background-color: whitesmoke;
  width: 50%;
  height: auto;
  border-radius: 10px;
  margin: 10px;
  padding: 10px 40px 10px;
  display: flex;
  justify-content: center;
}

.profile-page h1 {
  font-size: 24px;
  margin-bottom: 5px;
  text-align: center;
  font-style: italic;
}

.profile-page p {
  font-size: 16px;
  margin-bottom: 10px;
}

.profile-page button {
  align-items: center;
  background-image: linear-gradient(144deg, #FF1414, #74D680 50%, #C6EFFF);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  color: #FFFFFF;
  display: flex;
  float: right;
  font-size: 15px;
  justify-content: center;
  max-width: auto;
  min-width: auto;
  padding: 8px 10px;
  margin-top: 20px
}

.profileSearchBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
  width: 50%;
  padding: 10px;
  /* border: 1px solid #bdbdbd; */
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;

}

.profileSearchBar input {
  width: 70%;
  padding: 10px;
  border: 1px solid white;
  font-size: 16px;
  /* border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem; */
  border-radius: 8px;
}

.profileSearchBar button {
  width: 30%;
  padding: 10px;
  border: none;
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: -3px;
  margin-left: -90px
}

.wishlist {
  display: flex;
  flex-flow: column nowrap;
  list-style: none;
  margin: 2px;
  padding: 2px;
  color: red;
}

.old-wishes {
  background-color: transparent;
  display: flex;

}

.wishlist li {
  display: flex;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: red;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  flex-direction: row;
}

.wishlist button {
  align-items: center;
  background-image: linear-gradient(144deg, #FF1414, #74D680 50%, #C6EFFF);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  color: #FFFFFF;
  display: flex;
  float: right;
  font-size: 15px;
  justify-content: center;
  max-width: auto;
  min-width: auto;
  padding: 8px 10px;
  margin-top: 20px
}

.nav {
  display: flex;
  justify-content: center;
  float: right;
  width: 100%;
}

.custom-nav {
  display: block;
  height: 100px;
  border-style: solid;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-color: antiquewhite;
  background-color: var(--primary-color);
  /* border-radius: 10px; */
  width: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.btn-one {
  align-items: center;
  background-image: linear-gradient(144deg, #FF1414, #74D680 50%, #C6EFFF);
  color: black;
  font-weight: 200;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  display: flex;
  float: right;
  font-size: 15px;
  justify-content: center;
  max-width: auto;
  min-width: auto;
  padding: 8px 10px;
  margin-top: 20px
}

.card-break {
  color: white;
  border-style: solid;
  border-width: 3px;
  border: #FFFFFF;
}

.exchangeContainers {
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  width: auto;
  padding: 10px;
  background-color: var(--primary-color);
  color: white;
  border-radius: 15px;
  top: 50%;
  left: 50%;
  border-style: double;
  border-color: antiquewhite;
}

.member-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.exchangeContainersTitle {
  margin: auto;
  padding: 10px;
  background-color: antiquewhite;
  color: black;
  font-style: bold;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  width: auto;
}

.exchangeContainersTextArea {
  padding: 10px;
  margin: auto;
  background-color: #C6EFFF;
  justify-content: space-around;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  align-items: center;
}

.card {
  background-color: #1874CD;
}

.card-body {
  background-color: antiquewhite;
}

.gradiant {
  background-color: black;
}

.GifteeMemberCard {
  width: auto;
  display: flex;
  justify-content: center;

}

.GifteeMembers {
  width: 100px;
  height: auto;
  padding: 10px;
  margin: 10px;
  background-color: #860000;
  border-radius: 10px;
  display: flex;
  justify-content: center;

}

.custom-card {
  background-color: antiquewhite;
  color: black;
  display: flex;
  justify-content: center;
}

/* ul {
  list-style: none;

} */

.exchangeRoomName {
  display: flex;
  justify-content: center;
}

.ExchangeArea {

  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

/* .renderPageDiv {
  display: flex;
  justify-content: center;
  height: 1000px;
} */


.exhangePageTitle {
  margin: 15px;
  padding: 10px;
  left: 50%;
  background-color: antiquewhite;
  color: black;
  font-style: bold;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  width: 400px;
}

.exhangePageTitleDiv {
  margin: auto;
  display: flex;
  justify-content: center;
}

.snow {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 1000;
}

.wishListCotainer {
  margin: 10px;
  padding: 10px;
  display: flex;
}

.btn {
  margin: 10px;
  padding: 10px;
}